html {
  font-family: Courier, New, monospace;
  background: black;
  color: #4AF262;
  text-shadow: rgba(4,175,38,1) 0px 0px 19px;
  font-size: 1rem;
  height: 100%;
  padding: 0;
}

.separator { 
  color: #4AF262;
  background: #4AF262;
  border: none;
  border-top: 1px solid;
  width: 98%;
}

.vert-separator {
  background: #4AF262;
  color: #4AF262;
  margin-top: auto;
  margin-bottom: auto;
  height: 95%;
}

.dashed-separator {
  color: #4AF262;
  border: none;
  border-top: 2px dashed;
}

header {
  margin-left: 2em;
  display: grid;
  height: 4em;
  grid-template-columns: auto 1fr 0.2fr;
}

.header-comp {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 4em;

  padding: 0;
  margin: 0;
}

.shopping-icon>svg, 
.login-icon>svg {
  height: 60%;
}

header>* {
    padding: 0;
    margin: 0;
}

header>div {
  height: 3em;
  padding: 0em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

h1 {
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
}

header>p {
  margin: 0;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2em;
  padding: 0em;
}

main {
  border-radius: 50px;
  border: solid 2px;
  border-color: grey;

  padding: 1em;
  min-height: 80vh;

  max-height: 72vh;
  overflow: scroll;
}

main>div {
  width: 80%;
  margin: auto;
}

footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  background-color: black;
  height: 2em;
  clear: both;
}

a {
  color: inherit;
  text-decoration: none;
}

.link {
  text-decoration: underline;
}

.link::before {
  content: "🔗";
}

h2 {
  text-decoration: underline;
}

h3 {
  margin-bottom: 0em;
  padding: 0;
}

.crt {
  background: linear-gradient(to top, #000000, #000000, #111111, #111111);
  background-size: cover;
  background-size: 100% 1%;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);

  padding-top: 5px;
  padding-bottom: 5px;

  margin: 5px;
  color: inherit;
}

button {
  border-bottom: solid 1px;
  border-bottom-color: #4AF262;
  cursor: pointer;
}

.terminal-input {
  width: 100%;
  position: relative;
  display: inline-block;
}

.terminal-input input {
  padding-left: 20px;
}

.terminal-input::before {
  content: ">";
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
  padding-left: 5px;
  pointer-events: none;
}

.search-input {
  width: 100%;
  background: none;
  border-bottom: solid 1px;
}

.item-views {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

.item-view-sprite {
    padding-left: 0;
    margin: auto;
    height: 100%;
}

.item-view {
    border: solid 1px;
    border-radius: 50px;

    min-height: 4em;

    display: grid;
    grid-template-columns: 1fr 0.15fr;
}

.item-view-info {
    cursor: pointer;
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

@media screen and (max-width: 1000px) {
    .item-views {
        grid-template-columns: 1fr;
        width: 90%;
    }
    .item-view {
        grid-template-columns: 1fr 0.2fr;
    }
}

.item-view-cart {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-right: 1em;

    border-left: solid 1px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
    background: #4AF26222;
}

.item-view-cart:active,
.item-view-info:active,
.cart-button:active,
.link-view:active {
    animation: shine linear 100ms;
}

@keyframes shine {
    0% {
        background: #4AF26255;
    }
    50% {
        background: #4AF262;
    }
    100% { background: #4AF26255; };
}


.item-view-cart>svg {
    height: 40%;
    width: auto;
    color: inherit;
}

.item-view-cart:hover,
.item-view-info:hover,
.cart-button:hover {
    background: #4AF26255;
}

p, h4 {
    margin: 0;
}

.item-view>* {
    font-size: 0.9em;
}

.item-display {
  font-size: 1.5em;
  height: auto;
  border: solid 2px;
  width: 90%;
  display: grid;

  margin-left: auto;
  margin-right: auto;

  grid-template-columns:
   auto 1fr;
}

.item-display-sprite {
  height: 100%;
  max-height: 20em;
  border-right: dotted 4px;
}

.item-display-info {
  padding: 1em;
  width: auto;
  overflow-x: scroll;
}

.item-display-desc {
  border-top: solid 2px;
  grid-column: 1 / -1;
  padding: 1em;
  padding-left: 5%;
  padding-right: 5%;
}

.info-row {
  display: flow;
  flex-direction: row;
}

.info-info {
  overflow-x: scroll;
  align-items: center;
  margin-left: 1em;
}

.info-header {
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 0.2em;
}

.attributes {
  overflow: hidden;
  overflow-x: scroll;
  height: 3em;
}

.link-view {
  text-decoration: underline;

  padding: 3px;
  padding-top: 1px;
  padding-bottom: 1px;

  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1em;
  
  border-radius: 5px;
  background: #4AF26244;
}

.link-view:hover {
  background: #4AF26255;
}

.link-view::before {
  content: ">";
}

.cart-button {
  width: 90%;
  border-right: solid 2px;
  border-left: solid 2px;
  border-bottom: solid 2px;
  cursor: pointer;

  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;

  margin-left: auto;
  margin-right: auto;
}

.cart-button-image {
  margin-left: auto;
  margin-right: auto;
}

.cart-button-image>svg {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  width: 100%;
  max-height: 4em;
}

.searchbar {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  text-align: center;
  display: grid;

  grid-template-columns: 0.1fr 1fr 0.1fr 0.1fr;
  margin-bottom: 1em;

  border: solid;
  border-radius: 50px;
}

.page-view {
  margin-top: auto;
  margin-bottom: auto;
}

.search-form {
  width: 100%;
  margin: 0;
  
  display: grid;
  grid-template-columns: 1fr 0.1fr 0.1fr;
  grid-gap: 2em;
}

select {
  border-bottom: solid 1px;
}

.search-submit::before {
  content: ">";
}

.search-submit::after {
  content: "<";
}

.page-arrow {
  margin-top: auto;
  margin-bottom: 0;
}

.page-arrow>svg {
  width: 2em;
}

.category-search {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-gap: 1em;
  margin: 0;
  margin-left: 1em;
  padding: 0;
}

.category-search>label {
  margin-top: auto;
  margin-bottom: auto;
}

@media screen and (max-width: 1000px) {
  .item-display {
    width: 100%;
    font-size: 1em;
    margin: 0;
    padding: 0;
  }
  .item-display {
    grid-template-columns: 1fr;
  }

  .item-display-sprite {
    width: 100%;
    height: auto;
    border: none;
    border-bottom: dotted 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .cart-button {
    width: 100%;
  }
}

.cart-view {
  margin-left: auto;
  margin-right: auto;
  width: 90%;

  text-align: center;
}

.cart-entries {
  width: 100%;
}

.cart-entry {
  width: 100%;

  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;

  border: solid 1px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;

  margin-top: auto;
  margin-bottom: auto;
}

.cart-entry-info {
  border-left: solid 1px;
  border-right: solid 1px;
  padding-left: 1em;
  padding-left: 1em;

  display: grid;
  grid-template-columns: 1fr 0.2fr 0.2fr;
}

.cart-entry-info>* {
  margin-top: auto;
  margin-bottom: auto;
}

.cart-entry-button {
  border: none;
  background: inherit;
  margin-top: auto;
  margin-bottom: auto;
}

.invoices {
}

.invoice {
  border: solid 1px;
  display: grid;
  margin-bottom: 2em;
}

.invoice-entry {
  padding: 0;
  height: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
  border-bottom: dashed 1px;

  align-items: center;

  background: #00000055;
}

.invoice-title {
  margin-top: auto;
  margin-bottom: auto;
  height: 2em;
  text-decoration: underline;
}

.invoice-total {
  font-weight: bold;
  margin: 1em;
}

@media screen {
  .crt {
    animation: scanlines infinite 5s linear;
  }
  @keyframes scanlines {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 0 100px;
    }
  }
}

.login {
  text-align: center;
}

@media screen and (min-width: 600px) {
  .login {
    display: grid;
    grid-template-columns: 1fr 0.01fr 1fr;
    grid-gap: 1em;
  }
}
